{% extends "../site/base.html" %}
{% block title %}Registro de usuario - Veterinaria Huellitas{% endblock %}
{% load static %}
{% block content %}

<!-- ========================= SECCIÓN BREADCRUMB ========================= -->
<section class="section-pagetop bg-secondary">
    <div class="container clearfix">
        <h2 class="title-page text-white">Crear una cuenta</h2>
        <nav class="float-left">
        <ol class="breadcrumb text-white">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear cuenta</li>
        </ol>  
        </nav>
    </div>
</section>
<!-- ========================= SECCIÓN BREADCRUMB FIN // ========================= -->
<section class="section-content bg padding-y">
    <div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form method="post">
					{% csrf_token %}
					<div class="row">
					{% for field in form %}
						<p>
						<div class="col-md-3">
						{{ field.label_tag }}
						</div>
						<div class="col-md-9">
						{{ field }}
						{% if field.help_text %}
							<small style="color: grey">{{ field.help_text }}</small>
						{% endif %}
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
						</div>
					{% endfor %}
						<div class="col-md-9"></div>
						<div class="col-md-3">
							<button type="submit" class="btn btn-primary btn-block">Registrar</button>
						</div>
					<div class="row">
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>		
	</div>
</section>	

<!-- ========================= SECCIÓN NOTA  ========================= -->
	<section class="section-name bg-white padding-y">
		<div class="container">
			<h4>Importante</h4>
			<p>Para poder agendar y/o administrar tus citas deberás tener una cuenta registrada e iniciar sesión.</p>
		</div><!-- container // -->
	</section>
<!-- ========================= SECCIÓN NOTA FIN// ========================= -->


{% endblock %}