<header class="section-header">
    <nav class="navbar navbar-landing navbar-expand-lg navbar-light bg-light">
        <div class="container">
             <a class="navbar-brand mr-auto" href="/"> <i class="fa fa-paw fa-2x"></i> HUELLITAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll {% if request.path == '/' %}active{% endif %}" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll {% if request.path == '/productos/' %}active{% endif %}" href="/productos/">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll {% if request.path == '/login/' %}active{% endif %}" href="/login/">Citas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>